
.navbar-heading {
  font-weight: 400;
  font-size: 2rem;
}



.navbar-sub-container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}



/*HomePage*/

/* homepage */

/*pagination */
.paginate-list {
  display: flex;
  justify-content: center;
  list-style: none;
  text-align: center;
  margin: 2em 0;
}

.pagination-list a {
  text-decoration: none;
  color: #afafaf;
  padding: 0.5em 0.8em;
  border-radius: 2px;
  border: 1px solid #73f340;
  font-weight: 400;
}

.pagination-list a:hover {
  background-color: #73f340;
  border: none;
  color: #fff;
}

/*showlist*/

.showlist-wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
}
